/*** HTML5 compatibility ***/

[hidden]  {
  display: none;
}

/*** Main formatting ***/

html
{
	font: 100% Georgia, serif;
	background-color: #fcfcfc;
	color: #000;
	margin: 0;
}

html.sans-serif
{
	font: 100% Verdana, serif;
}

html.serif
{
	font: 100% Georgia, serif;
}

html.white
{
	background-color: #fcfcfc;
	color: #000;
}

html.black
{
	background-color: #000;
	color: #fcfcfc;
}

h1
{
	font-size: 2.5em;
}
h2
{
	font-size: 2em;
}
h3
{
	font-size: 1.5em;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1em;
	margin: 0.6em 0;
}

/* Used for all links - hook-links, passage-links, external links... */
.link
{
	cursor: pointer;
}

/* The story data div */
[data-role="twinestory"]
{
	display: none;
}

#story
{
	width: 60%;
	margin: 4% auto;
	font-size: 1.5em;
	line-height: 1.5em;
}

.passage
{
	position: absolute;
	width: 60%;
}

.passage *
{
	position: relative;
}

@media screen and (max-width: 1280px)
{
	#story
	{
		font-size: 1.25em;
	}
}

@media screen and (max-width: 960px)
{
	#story
	{
		font-size: 1em;
	}
}

@media screen and (max-width: 640px)
{
	#story
	{
		font-size: 0.8em;
	}
}


/* Sidebar */

.sidebar
{
	left: -5em;
	width: 3em;
	position:absolute;
	text-align:center;
}

.sidebar .icon
{
	display:block;
	margin: 0.33em 0 1em 0;
	opacity: 0.1;
	font-size: 2.75em;
	border-bottom: none;
	text-decoration:none;
}

.sidebar .icon:hover
{
	opacity: 0.3;
}

/*** Inner passage formatting ***/

.align-center
{
	text-align:center;
	max-width:50%;
	margin:auto;
}

.align-right
{
	text-align:right;
}

.align-justify
{
	text-align:justify;
}

.enchantment-hover
{
	border-bottom: 1px dashed #666;
}

.enchantment-mouseout
{
	border: hsla(200,50%,50%,0.25) 1px solid;
}

.enchantment-mouseout:hover
{
	background-color: hsla(200,50%,50%,0.25);
	border: transparent 1px solid;
	border-radius: 0.2em;
}

.passage-link, .enchantment-link
{
	color: #4169E1;
	font-weight: bold;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}

.visited 
{
	color: #6941e1;
}

.passage-link:hover, .enchantment-link:hover
{
	color: DeepSkyBlue;
}

.passage-link:active, .enchantment-link:active
{
	color: #DD4B39;
}

.visited:hover
{
	color: #E3E;
}

.broken-link
{
	color: #993333;
	border-bottom: 2px solid #993333;
	cursor: not-allowed;
}

.error, .warning
{
	background-color: hsla(312, 72%, 55%, 0.4);
	border-radius: 0.2em;
	padding: 0.2em;
	font-size: 1rem;
	cursor: help;
}

.warning
{
	background-color: hsla(30, 72%, 55%, 0.4);
}
