$scale: 0.71;

$button-width: 85.04px * $scale;
$button-height: 56.69px * $scale;

$min-width: 150.08 * $scale;

$area-margin-left: 18px;
$area-margin-right: 18px;
$area-margin-top: 30px * $scale;
$area-margin-bottom: 20px * $scale;

$area-margin-left-mobile1: 9px;
$mobile-max-width1: 420px;


.editor-root {
    // transition: color 0.2s ease-in-out;

    // background-color: red;

    width: calc(100% + #{2 * $area-margin-left});
    margin-left: -$area-margin-left;

    @media (max-width: $mobile-max-width1){
        width: calc(100% + #{2 * $area-margin-left-mobile1});
        margin-left: -$area-margin-left-mobile1;
    }
    .editor-background-image {
        position: absolute;
    }

    .editor-area {
        min-height: 57.4844px;
        padding: $area-margin-top $area-margin-right $area-margin-bottom $area-margin-left;
        outline-style: none;
        box-shadow: none;
        cursor: text;

        // font-size: 34px * $scale;
        font-family: "Scotch Modern";
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-style: italic;
        line-height: 1.25;
        text-align: left;
        background-color: #00000000;
        width: 100%;
        border-width: 0px;
        // background-image: url("pattern.svg");
        // border-style: solid;
        // border-width: 0.5px;
        // border-radius: 10px;
        // border-color: black;
    }
    .editor-area-empty-disabled {
        content: attr(data-placeholder);        
        color: white !important;
        display: block; /* For Firefox */
    }

    [contenteditable=true]:empty:before {
        content: attr(data-placeholder);        
        color: white;
        display: block; /* For Firefox */
    }

    .editor-button {
        font-size: 12pt;
        cursor: pointer;
    }
    
    .editor-edit-button{
        float: right;
        margin-right: 25px;
        margin-top: 5px;
        width: $button-width;
        height: $button-height;
        z-index: 10;
        $data: "PHN2ZyB2ZXJzaW9uPScxLjEnIGlkPSdMYXllcl8xJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB4PScwcHgnIHk9JzBweCcJIHdpZHRoPSc4NS4wNHB4JyBoZWlnaHQ9JzU2LjY5cHgnIHZpZXdCb3g9JzAgMCA4NS4wNCA1Ni42OScgZW5hYmxlLWJhY2tncm91bmQ9J25ldyAwIDAgODUuMDQgNTYuNjknIHhtbDpzcGFjZT0ncHJlc2VydmUnPjxwYXRoIGZpbGw9J25vbmUnIHN0cm9rZT0nIzIzMUYyMCcgc3Ryb2tlLXdpZHRoPScwLjUnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzEwJyBkPScJTTIwLjk4OCwxNi4zOTZjLTAuMDg4LTIuMDU3LTEuNjk4LTMuODQ2LTMuNjMxLTQuNTVjLTEuOTMzLTAuNzA1LTQuMTA4LTAuNDY1LTYuMDQ1LDAuMjMzYy00LjQyOSwxLjU5NS01LjM5Miw2LjcyOS0yLjc0LDEwLjI1OAljMS4yNTEsMS42NjQsMy4zMzQsMi42Nyw1LjQxOCwyLjYxMmMtMi45NDgsMC4wNzItNS44MzYsMS41ODgtNy42NzMsMy44OTVjLTEuODkyLDIuMzczLTMuMDYzLDYuMzA1LTIuMDc1LDkuMjY1CWMxLjMxOSwzLjk0OSw1Ljk1OSw2LjAxNyw5LjcwNyw2LjcyMmM1LjY1LDEuMDYzLDEwLjMwNS00LjAyOCwxMC40NzctOS41MTMnLz48cGF0aCBmaWxsPSdub25lJyBzdHJva2U9JyMyMzFGMjAnIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHN0cm9rZS1taXRlcmxpbWl0PScxMCcgZD0nCU0yOS4xMTIsMTEuNTIxYzAuNjU1LDEwLjkyMSwwLjgxMiwyMS44NjksMC40NzMsMzIuODAyJy8+PHBhdGggZmlsbD0nbm9uZScgc3Ryb2tlPScjMjMxRjIwJyBzdHJva2Utd2lkdGg9JzAuNScgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBzdHJva2UtbWl0ZXJsaW1pdD0nMTAnIGQ9JwlNMjUuOTgsMTEuNDI0YzMuMjkyLTAuNTUxLDYuNzI5LTAuNDQ0LDkuODk4LDAuNjA3czYuMDUyLDMuMDksNy44NjEsNS44OTZjMS4yOTksMi4wMTYsMi4wMTMsNC4zNTEsMi41MjEsNi42OTQJYzAuNTY5LDIuNjMsMC44OTksNS4zNDYsMC41Myw4LjAxMWMtMC41MjMsMy44MTEtMi45NDcsNy02LjA0OCw5LjE1OWMtMy44MywyLjY2NC04LjE0MSwzLjE3LTEyLjczMiwyLjkzNicvPjxwYXRoIGZpbGw9J25vbmUnIHN0cm9rZT0nIzIzMUYyMCcgc3Ryb2tlLXdpZHRoPScwLjUnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzEwJyBkPScJTTUyLjE1NCwxMS41MjFjLTAuMTg3LDEwLjgtMC4zNzUsMjEuNTk4LTAuNTYyLDMyLjM5NicvPjxwYXRoIGZpbGw9J25vbmUnIHN0cm9rZT0nIzIzMUYyMCcgc3Ryb2tlLXdpZHRoPScwLjUnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzEwJyBkPScJTTY5LjA3NCwxMS42NmMtMC4xMjksMTAuOTQyLTAuNTc0LDIxLjg4My0xLjMzMiwzMi44MDEnLz48cGF0aCBmaWxsPSdub25lJyBzdHJva2U9JyMyMzFGMjAnIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHN0cm9rZS1taXRlcmxpbWl0PScxMCcgZD0nCU01Ni4zMjQsMTEuOTg0YzguMjk0LDAuNCwxNi42MDQsMC40NTgsMjQuOTAyLDAuMTcnLz48L3N2Zz4=";
        background: url("data:image/svg+xml;base64,#{$data}") no-repeat;
        background-size: $button-width $button-height;
    }

    .editor-submit-button {
        bottom: 5px;
        // display: inline-block;
        display: none;
        width: $button-width;
        height: $button-height;
        // background-color: red;
        position: absolute;
        right: 10px;
        cursor: pointer;

        $data: "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iODUuMDRweCIgaGVpZ2h0PSI1Ni42OXB4IiB2aWV3Qm94PSIwIDAgODUuMDQgNTYuNjkiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDg1LjA0IDU2LjY5IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSIwLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSINCglNNzUuOTkxLDMwLjQ0OWMtMjIuNjYzLDEuMzQ4LTQ1LjQxNSwyLjI0NC02OC4xNzYsMi42OTEiLz4NCjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSIwLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSINCglNMjEuODE1LDQ4LjUxNGMtMC40NTUtMC40NzEtMC45MDktMC45NDMtMS4zNjMtMS40MTRjLTQuMzU1LTQuNTEyLTguNzEyLTkuMDI1LTEzLjA2Ny0xMy41MzljNC4wNzktNS40OCw4LjQ1My0xMC45OSwxMy4wOTUtMTYuMDAxDQoJIi8+DQo8cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMC41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iDQoJTTc2LjAwMiwzMC40MzljMC41NzMtNy4wNDEsMC42ODktMTQuMTAxLDAuMzQ4LTIxLjEyMSIvPg0KPC9zdmc+DQo=";
        background: url("data:image/svg+xml;base64,#{$data}")  no-repeat;
        background-size: $button-width $button-height;


    }

    .editor-save-button {
        width: $button-width;
        height: $button-height;
        position: relative;
        float: right;
        z-index: 11;
        margin-top: -$button-height - 5px;
        margin-right: 25px;
        
        $data: "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iODUuMDRweCIgaGVpZ2h0PSI1Ni42OXB4IiB2aWV3Qm94PSIwIDAgODUuMDQgNTYuNjkiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDg1LjA0IDU2LjY5IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSIwLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSINCglNNzUuOTkxLDMwLjQ0OWMtMjIuNjYzLDEuMzQ4LTQ1LjQxNSwyLjI0NC02OC4xNzYsMi42OTEiLz4NCjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSIwLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSINCglNMjEuODE1LDQ4LjUxNGMtMC40NTUtMC40NzEtMC45MDktMC45NDMtMS4zNjMtMS40MTRjLTQuMzU1LTQuNTEyLTguNzEyLTkuMDI1LTEzLjA2Ny0xMy41MzljNC4wNzktNS40OCw4LjQ1My0xMC45OSwxMy4wOTUtMTYuMDAxDQoJIi8+DQo8cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMC41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iDQoJTTc2LjAwMiwzMC40MzljMC41NzMtNy4wNDEsMC42ODktMTQuMTAxLDAuMzQ4LTIxLjEyMSIvPg0KPC9zdmc+DQo=";
        background: url("data:image/svg+xml;base64,#{$data}")  no-repeat;
        background-size: $button-width $button-height;
    }
}

.split-root {
    .editor-root {
        // width: calc(100% + #{$area-margin-left});
        width: 100%;
        margin-left: 0;
        // margin-left: -$area-margin-left;
    }
}