@keyframes appear
{
	0% { opacity: 0 }
	100% { opacity: 1 }
}

@-webkit-keyframes appear
{
	0% { opacity: 0 }
	100% { opacity: 1 }
}


body
{
	font: 62.5% Georgia, serif;	
	background: #fafafa;
	background-repeat: no-repeat;

	background-image: -webkit-gradient(
		linear,
		left top,
		left 4%,
		color-stop(0, rgb(215, 215, 215)),
		color-stop(1, rgba(215, 215, 215, 0))
	);

	color: #222;
}

p, li, td, th
{
	font-size: 1.8em;
	line-height: 175%;
}

a
{
	color: #222;
	text-decoration: none;
	border-bottom: 2px solid #006699;
	transition: color 0.2s ease-in-out;
}

a:hover
{
	color: #006699;
}

div[data-role="twinestory"]
{
	display: none;
}

#story
{
	width: 55%;
	margin: 4% auto;
}

#story section
{
	animation: appear 1s ease;	
	-webkit-animation: appear 1s ease;	
}

#story section .permalink
{
	color: #d0d0d0;
	font-size: 3.25em;
	border-bottom: none;
	margin-left: -1em;
	float: left;
}

#story section .permalink:hover
{
	color: #222;
}
